<label for="question">Question</label>
<input id="question" type="text" />
<label for="choices">Choices</label>
<!-- render an EditListView  for choices here -->
<button type="submit">Throw it out there</button>
